[Unit]
Description=Beszel Agent
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/beszel-agent
EnvironmentFile=__INSTALL_DIR__/.env
Restart=always
RestartSec=3
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

# Security/sandboxing settings
KeyringMode=private
LockPersonality=yes
NoNewPrivileges=yes
ProtectClock=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
